<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

<h1>Mi Lista de Contactos</h1>

<a href="/nuevo">Nuevo</a>  <!-- Me permite  redireccionar al formulario nuevo-->

<div th:if="${msgExito ne null}">
[[${msgExito}]]
</div>

<table>
    <thead>
    <tr >
        <th>ID</th>
        <th>NOMBRE</th>
        <th>FECHA DE NACIEMNTO</th>
        <th>CELULAR</th>
        <th>MAIL</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="contacto : ${contactos}" th:object="${contacto}">
            <td th:text="*{id}"></td>
            <td th:text="*{nombre}"></td>
            <td th:text="*{#temporals.format(fechaNacimiento, 'dd/MM/YYYY')}"></td>
            <td th:text="*{celular}"></td>
            <td th:text="*{mail}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>